#container {
  text-align: center;

  position: absolute;
  left: 15%;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}

#contrasena {
  background-color: inherit;
  text-align: center;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 70%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.loginbutton {
  font-family: inherit;
  font-size: 14px;
  height: 25px;
  width: 100%;
  border-radius: 5px;
  margin-top: 5%;
  background-color: #3880ff;
}

.loginbutton:hover {
  background-color: #6399f7;
}

.toshow {
  display: none;
  font-size: 14px;
  width: 230px;
}

.tohide {
  display: block;
}