<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login Carrera Demente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="username" id="usu"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" id="pass"></ion-input>
    </ion-item>

    <ion-button class="loginbutton" (click)="ingresar()"> INGRESAR </ion-button>
    <ion-button class="loginbutton"> REGISTRARSE </ion-button>
    <ion-button class="loginbutton" routerLink="/dado"> INGRESAR SIN USUARIO</ion-button>

  </div>

</ion-content>