<ion-header>
  <ion-toolbar>
    <ion-title>Perfil Jugador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="jugadores">


    <ion-item>
      <ion-thumbnail slot="start" (click)="takePicture()">
        <img id="imgAvatarIcon" src="../../assets/icon/avatar.svg" />
        <img id="img" [src]="picture" />
      </ion-thumbnail>
      <ion-input placeholder="Nombre Jugador" id="nombreJugador"></ion-input>
    </ion-item>


    <div>
      <button class="loginbutton" id="btncomenzar" (click)="gotodado()"> COMENZAR </button>
      <button class="loginbutton" id="btnsalir" name="btnsalir">SALIR</button>
    </div>

  </div>
</ion-content>