<ion-header>
  <ion-toolbar>
    <ion-title>Dado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="titulo">
    <h2>Haga click sobre el dado para hacerlo rodar</h2>

</div>
<div class="container">
    <div class="dado">
        <div class="dado-cara frontal">
            <div class="inside">
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara trasera">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara izquierda">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara derecha">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara superior">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara inferior">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
    </div>

</div>

<div class="resultados">
    <span>
        
        <h2 id="tituloPregunta">Pregunta</h2>
        <input id="centena" type="text" size="1" maxlength="1" value="" disabled>
        <input id="decena" type="text" size="1" maxlength="1" value="" disabled>
        <input id="unidad" type="text" size="1" maxlength="1" value="" disabled>
    </span>
</div>

<div class="botones">
    <div>
        <select id="selectcolor">
            <option value="0" disabled selected>Seleccione el color</option>
            <option value="1">1 - Amarillo</option>
            <option value="2">2 - Naranja</option>
            <option value="3">3 - Rosa</option>
            <option value="4">4 - Marrón</option>
            <option value="5">5 - Verde</option>
            <option value="6">6 - Celeste</option>
          </select>
    </div>
    <br>
    <button id="btnverpregunta" name="btnverpregunta">VER PREGUNTA</button>
    <br>
    <button id="btnsalir" name="btnsalir">SALIR</button>
</div>
  
</ion-content>
