<ion-header>
  <ion-toolbar>
    <ion-title>Dado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="titulo">
    <h2>Haga click sobre el dado para hacerlo rodar</h2>

</div>
<div class="container">
    <div class="dado">
        <div class="dado-cara frontal">
            <div class="inside">
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara trasera">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara izquierda">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara derecha">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara superior">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
        <div class="dado-cara inferior">
            <div class="inside">
                <span class="punto"></span>
                <span class="punto"></span>
            </div>
        </div>
    </div>

</div>

<div class="resultados">
    <span>
        
        <h2 id="tituloPregunta">Pregunta</h2>
        <input id="centena" type="text" size="1" maxlength="1" value="">
        <input id="decena" type="text" size="1" maxlength="1" value="">
        <input id="unidad" type="text" size="1" maxlength="1" value="">
    </span>
</div>
<div class="botones">
    <button id="btnverpregunta" name="btnverpregunta">Ver Pregunta</button>
    <br>
    <button id="btnsalir" name="btnsalir">Salir</button>
</div>
  
</ion-content>
